.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7ec0ee;

}
.card-item{
    border-radius: 30px;
}
p {
  text-align: center;
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
}

